@import url(index.css);

.container_dropdown{
    justify-content: center;
    align-items: center;
    height: 100%;
}
.dropdown{
    justify-content: center;
    align-items: center;
    text-align: center;
}
select {
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.yumi{
    margin-top: 100px;
}
.yumi p{
    text-align: center;
    font-size: 28px;
    color: white    ;
}
.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image img {
    width: 100px;
    height: 150px;
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.1);
}

.product-info {
    margin-left: 20px;
}

.product-title {
    color: #ffc107;
    font-size: 18px;
    margin: 0;
    transition: color 0.3s ease;
}

.product-title:hover {
    color: #ffeb3b;
}

.product-description {
    margin: 5px 0;
    font-size: 14px;
}

.product-price {
    font-size: 5px;
    margin: 5px 0;
}

.product-quantity {
    display: flex;
    align-items: center;
    width: 100px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: #3a3a3a;
    border-radius: 5px;
    padding: 5px;
}

.quantity-btn {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}
