body{
    position: relative;
}
footer{
    position: absolute;
    right: 10px;
    width: 50%;
}
footer div{
    justify-content: space-around;
}
.khungChinh{
   border: solid 1px black;
   padding: 10px;
   width: fit-content;
   position: absolute;
   left: 10px;
}
.PhimChucNang{
    margin: 10px;
}

.cacThuocTinhPhim div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.movie {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.movie img {
    max-width: 200px;
    height: auto;
}
table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
}
table, th, td {
    border: 1px solid white;
}
th, td {
    padding: 10px;
    text-align: left;
}
.movie-image {
    width: 100px;
    height: auto;
}